<tr>
  <td class='align-center'><%= link_to "Inventory Synchronizations", spree.admin_inventory_sync_imports_path %></td>
  <td style='padding-left: 1em;'>List of all Inventory Syncronizations, and corresponding Stock Movements</td>
</tr>
